.page {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 228, 228);
  min-height: 100vh;

}


.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 222;
  background-color: rgba(32, 32, 32, .8);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  color: #fff;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}




.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.menuItem {}

.profileContainer {}

.footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 10sticky0px;
  width: 100%;
  background-color: rgba(32, 32, 32, .8);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  color: #fff;
}


.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.newsBlockContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;

}